{{!< default}}

{{#post}}

<article class="page-template">

    {{#if @page.show_title_and_feature_image}}

        {{#if feature_image}}
            <figure class="kg-width-wide">
                <img src="{{feature_image}}" alt="{{title}}">
            </figure>
        {{/if}}

        <header class="page-header">
            <h1>{{title}}</h1>
        </header>

    {{/if}}

    <section class="page-content">
        {{content}}
    </section>

</article>

{{/post}}
